h1 {
    width: 65px;
    color: orange;
    font-family: sans-serif;
} 

ul {
    background-color: aqua;
    font-style: italic;
    font-weight: bold;
}

.background {
    background-color: orange;
}

p {
  font-weight: 600;
  font-size: 3em;
  text-decoration: overline;
}

body {
  font-size: 16px;
  text-align: center;
}

#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}

#brown {
  background-color: brown;
}